<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://portalpasazerafunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/971a47bd-0518-4959-ba29-ade459f57090/resourceGroups/PortalPasazeraGorzow/providers/Microsoft.Web/sites/PortalPasazeraFunctions</ResourceId>
    <UserName>$PortalPasazeraFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://portalpasazerafunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>